/* table {
    border-collapse: collapse;
    width: 100%;
  }*/
  
  th, td {
    text-align: left;
    padding: 8px;
    border-color: #141313;
  }
  
  tr:nth-child(even){background-color: #84ebaf}
  
  th {
    background-color:  #141313;
    color: white;
  } 

  table{
    border-collapse: collapse;
    border: #141313 solid 3px ;
    width: 100%;
}